span.editableSpan {
    display: inline-block;
    color: #268DFF;
    border: 1px solid rgba(0,0,0,0);
    line-height: 20px;
    border-radius:5px;
    padding:5px;
    overflow: hidden;
    width: auto;
}
span.editableSpan ul {
    padding: 0px;
    overflow: hidden;
    display: inline;
}

span.editableSpan ul li {
    display: inline-block;
    float:left;
}

span.editableSpan ul li:after {
    content: ",";
    margin-right:4px;
}

span.editableSpan ul li:last-child:after {
    content: "";
    margin-right:0px;
}

.successAfter:after {
    content: '\2713';
    color:limegreen;
    padding-left: 10px;
    font-size: inherit;
    border: 0px;
}
.fa {
    margin-left:10px;
    margin-right:5px;
    color: #C9E3FF;
}

input, select, textarea {
    color: #268DFF;
    border: 1px solid #B8DAFF;
    border-radius:5px;
    padding:5px;
    outline:none;
    font-size: 1em;
    line-height: 20px;
}



